@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgba(144, 238, 144, 0.452);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

header {
    width: 1100px;
    min-width: 600px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 3px;
    background-color: white;
    margin-top: 10px;
    font-size: 14px;
    position: sticky;
    top: 0;
}

.img-nav {
    padding: 10px 0 10px 30px;
}

nav {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
}

ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.a-nav {
    text-decoration: none;
    padding: 10px 5px;
    color: black;
}

.a-nav:hover {
    background-color: rgba(144, 238, 144, 0.452);
    border-radius: 30px;
}

main {
    background-color: white;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 3px;
    width: 1100px;
    min-width: 600px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

.info {
    width: 900px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.img-info {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.img-info img {
    width: 200px;
}

.datos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

h1 + p {
    line-height: 30px;
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.boton {
    text-decoration: none;
    border-radius: 30px;
    border: 3px solid black;
    padding: 10px 20px;
}

.uno {
    background-color: black;
    color: white;
}

.dos {
    color: black;
}

.descripcion {
    padding: 0 50px;
}

.descripcion p {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    line-height: 30px;
    color: grey;
}

.ventajas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}

p {
    color: grey;
}

.beneficios {
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 0;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

i {
    font-size: 40px;
    color: grey;
}

.beneficios p {
    width: 70%;
    text-align: center;
    line-height: 25px;
}

.metodologia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}

.pasos {
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0;
}

.pasos i {
    font-size: 25px;
    background-color: rgb(200, 200, 200);
    border-radius: 50%;
    padding: 15px 20px;
}

.pasos p {
    width: 90%;
    text-align: center;
    line-height: 25px;
}